@model WardrobeProject9.Models.Top

@{
    ViewBag.Title = "Details";
}



<div class="container-fluid wardrobeIndex">
    <div class="row">
        <div class="col-lg-12 wardrobeHeader">
            <h2>Top Details</h2>
          
        </div>
    </div>
</div>
<div class="container-fluid details">
    <div class="jumbotron">
        <img src="@Html.DisplayFor(model => model.TopPhoto)" />
        <div class="btn-group" id="deatilsBtn" role="group">
            <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.TopID })</button>
            <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 detailsImage">
            <ul>
                <li>
                    Name:
                </li>
                <li>
                    Color:
                </li>
                <li>
                    Season:
                </li>
                <li>
                    Occasion:
                </li>
            </ul>
        </div>
        <div class="col-lg-6 detailsContent">
            <ul>
                <li>
                    @Html.DisplayFor(model => model.TopName)
                </li>
                <li>
                    @Html.DisplayFor(model => model.TopColor)
                </li>
                <li>
                    @Html.DisplayFor(model => model.TopSeason)
                </li>
                <li>
                    @Html.DisplayFor(model => model.TopOccasion)
                </li>
            </ul>
        </div>
    </div>
</div><!-- container End-->
