@model IEnumerable<WardrobeProject9.Models.Top>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid wardrobeIndex">
    <div class="row">
        <div class="col-lg-12 wardrobeHeader">
            <h2>Top Wardrobe</h2>
            <br />
            <button class="btn btn-primary wardrobeBtn">@Html.ActionLink("Create New", "Create")</button>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row vdivide">
            <div class="col-lg-4">
                <img src="@Html.DisplayFor(modelItem => item.TopPhoto)" style="height: 200px;" />
            </div>
            <div class="col-lg-4 wardrobeContent">
                <ul>
                    <li>
                        <i class="far fa-hand-point-right"></i> @Html.DisplayFor(modelItem => item.TopName)
                    </li>
                    <li>
                        <i class="far fa-hand-point-right"></i> @Html.DisplayFor(modelItem => item.TopColor)
                    </li>
                    <li>
                        <i class="far fa-hand-point-right"></i> @Html.DisplayFor(modelItem => item.TopSeason)
                    </li>
                    <li>
                        <i class="far fa-hand-point-right"></i> @Html.DisplayFor(model => item.TopOccasion)
                    </li>
                    <li>
                        <i class="far fa-hand-point-right"></i> @Html.DisplayFor(model => item.TopType)
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.TopID })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.TopID })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.TopID })</button>
                </div>
            </div>
        </div><!-- row vdivide End -->
    }
</div><!-- container End-->

