@model WardrobeProject9.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid wardrobeIndex">
    <div class="row">
        <div class="col-lg-12 wardrobeHeader">
            <h2>Accessory Details</h2>

        </div>
    </div>
</div>
<div class="container-fluid details">
    <div class="jumbotron">
        <img src="@Html.DisplayFor(model => model.AccessoriePhoto)" />
        <div class="btn-group" id="deatilsBtn" role="group">
            <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.AccessorieID })</button>
            <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 detailsImage">
            <ul>
                <li>
                    Name:
                </li>
                <li>
                    Color:
                </li>
                <li>
                    Season:
                </li>
                <li>
                    Occasion:
                </li>
            </ul>
        </div>
        <div class="col-lg-6 detailsContent">
            <ul>
                <li>
                    @Html.DisplayFor(model => model.AccessorieName)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieColor)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieSeason)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieOccasion)
                </li>
            </ul>
        </div>
    </div>
</div><!-- container End-->
