@model WardrobeProject9.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<div class="container wardrobeIndex">
    <div class="row">
        <div class="col-lg-12 wardrobeHeader">
            <h2>Accessory Details</h2>

        </div>
    </div>
</div>
<div class="container details">
    <div class="jumbotron">
        <img src="@Html.DisplayFor(model => model.AccessoriePhoto)" />
        <div class="btn-group" id="deatilsBtn" role="group">
            <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.AccessorieID })</button>
            <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 detailsImage">
            <ul>
                <li>
                    Name:
                </li>
                <li>
                    Color:
                </li>
                <li>
                    Season:
                </li>
                <li>
                    Occasion:
                </li>
            </ul>
        </div>
        <div class="col-lg-6 detailsContent">
            <ul>
                <li>
                    @Html.DisplayFor(model => model.AccessorieName)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieColor)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieSeason)
                </li>
                <li>
                    @Html.DisplayFor(model => model.AccessorieOccasion)
                </li>
            </ul>
        </div>
    </div>
</div><!-- container End-->
@*<h2>Details</h2>

    <div>
        <h4>Accessory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AccessorieName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessorieName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessoriePhoto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessoriePhoto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessorieColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessorieColor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessorieSeason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessorieSeason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessorieOccasion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessorieOccasion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessorieType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessorieType)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AccessorieID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
